*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Courier New', monospace;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr 50px;
}

header, footer{
    /*Shared Rules*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 57, 100);
}

header{
    box-shadow: 2px 2px 5px blue;
}

main{
    padding-top: 20px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
}

nav{
    display: grid;
    gap: 30px;
    width: 100vw;
    grid-column: 1 / 1;
    grid-template-columns: 1fr 100px 100px 1fr;
}

nav > .add{
    grid-column: 2 / 2;
}

nav > .delete{
    grid-column: 3 / 3;
}
nav div > *{
    border-radius: 24px;
    font-size: 0.9rem;
    border: 2px solid black;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
}

#addBook{
    background-color: green;
    
}

#removeBook{
    background-color: red;
}

.container{
    font-weight: bold;
    width: 100vw;
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 50px;
}

.bookCard{
    border-radius: 24px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: rgba(255, 0, 0, 0.205);
    box-shadow: 0px 0px 2px 4px purple;
    height: 400px;
    width: 400px;
}
.bookCard > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookCard > :not(:last-child){
    border-bottom: 2px solid purple;
}

.midSection > :first-child {
    border-right: 2px solid purple;
}

.midSection > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
}
.read{
    background-color: red;
    color: white;
    font-weight: bold;
}
.readTrue {
    background-color: green;
}
.pages{
    font-weight: bold;
}
.update{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: rgba(0, 128, 0, 0.445);
}

footer{
    box-shadow: 2px -2px 5px blue;
}
footer img{
    height: 40px;
    width: 110px;
}
footer img:hover{
    scale: 1.1;
}


#addBookForm{
    display: none;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    margin-top: -200px;
    margin-left: -200px;
    background-color: rgba(177, 238, 238);   
    box-shadow: 0px 0px 2px 4px purple;
    border-radius: 8px;
}
.formContainer{
    display: grid;
    gap: 12px;
    grid-template-areas: "details details"
                         "author author"
                         "authBot authBot"
                         "title title"
                         "titleBot titleBot"
                         "pages pages"
                         "pagesBot pagesBot"
                         "read click"
                         "addB cancel";
}
/* Position each Form Element appropriately to above grid template*/
#details{
    grid-area: details;
    justify-self: center;
    padding-bottom: 12px; 
}
#author{
    grid-area: author; }
#authorBot{
    grid-area: authBot; }
#title{
    grid-area: title; }
#titleBot{
    grid-area: titleBot; }
#pages{
    grid-area: pages; }
#pagesBot{
    width: 175px;
    justify-self: center;
    grid-area: pagesBot;
}
#read{
    grid-area: read; }
input[type='checkbox']{
    grid-area: click; }
#add{
    grid-area: addB;
    background-color: green;
}
#cancel{
    grid-area: cancel; 
    background-color: red;
}
.formContainer button{
    color: white;
    width: 175px;
    border-radius: 24px;
    border: 2px solid black;
    font-weight: bold;
}
