*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Courier New', monospace;
    user-select: none;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: min(100px, 10vh) 1fr 50px;
}

header, footer{
    /*Shared Rules*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 57, 100);
}

main{
    padding-top: 20px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
}

nav{
    display: grid;
    gap: 30px;
    width: 100vw;
    grid-column: 1 / 1;
    grid-template-columns: 1fr repeat(3, 100px) 1fr;
}

nav > .add{
    grid-column: 2 / 2;
}

nav > .random{
    grid-column: 3 / 3;
}
nav > .remove{
    grid-column: 4 / 4;
}
nav div > *{
    border-radius: 24px;
    font-size: 0.9rem;
    border: 2px solid black;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    transition: all 500ms;
}

#addBook{
    background-color: green;
}
.random > button{
    background: linear-gradient(90deg, red, orange, yellow, green, rgba(0, 0, 255, 0.5), indigo, violet, red);
    color: black;
}
#removeBook{
    background-color: red;
}
nav div > *:hover{
    /*height: 42px;
    width: 105px;*/
    color: gold;
    -webkit-text-stroke: 1px black;
}

.container{
    font-weight: bold;
    width: 100vw;
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 50px;
}

.bookCard{
    border-radius: 14px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: rgba(138, 202, 221, 0.521);
    border: solid rgb(28, 110, 177) 3px;
    transition: all 500ms;
    height: 300px;
    width: 300px;
}
.bookCard:hover{
    transform: scale(1.02);
}
.bookCard > * {
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookCard > :not(:last-child){
    border-bottom: 2px solid rgb(28, 110, 177);
}

.midSection > :first-child {
    border-right: 2px solid rgb(28, 110, 177);
}

.midSection > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 50%;
    height: 100%;
}
.title{ /* Purely for helping position text that overflows*/
    padding-left: 10%;
    padding-right: 10%;
}
.read{
    background-color: red;
    color: white;
    font-weight: bold;
}
.readTrue {
    background-color: green;
}
.pages{
    font-weight: bold;
}
.update{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(0, 128, 0, 0.2);
    transition: all 500ms;
}
.update:hover{
    background-color: rgba(0, 128, 0, 0.7);
    font-size: 1.2rem;
}

footer img{
    height: 40px;
    width: 110px;
}
footer img:hover{
    scale: 1.1;
}


#addBookForm{
    display: none;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    margin-top: -200px;
    margin-left: -200px;
    background-color: rgba(177, 238, 238);   
    box-shadow: 0px 0px 2px 4px purple;
    border-radius: 8px;
}
.formContainer{
    display: grid;
    gap: 12px;
    grid-template-areas: "details details"
                         "author author"
                         "authBot authBot"
                         "title title"
                         "titleBot titleBot"
                         "pages pages"
                         "pagesBot pagesBot"
                         "read click"
                         "addB cancel";
}
/* Position each Form Element appropriately to above grid template*/
#details{
    grid-area: details;
    justify-self: center;
    padding-bottom: 12px; 
}
#author{
    grid-area: author; }
#authorBot{
    grid-area: authBot; }
#title{
    grid-area: title; }
#titleBot{
    grid-area: titleBot; }
#pages{
    grid-area: pages; }
#pagesBot{
    width: 175px;
    justify-self: center;
    grid-area: pagesBot;
}
#read{
    grid-area: read; }
input[type='checkbox']{
    grid-area: click; }
#add{
    grid-area: addB;
    background-color: green;
}
#cancel{
    grid-area: cancel; 
    background-color: red;
}
.formContainer button{
    color: white;
    width: 175px;
    border-radius: 24px;
    border: 2px solid black;
    font-weight: bold;
}

#removeWindow{
    display: none;
    position: fixed;
    padding: 25px;
    border-radius: 24px;
    top: 45%;
    left: 50%;
    width: max(350px, 35vw);
    margin-top: -35vh;
    margin-left: -17.5vw;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(50,128,134,1) 0%, rgba(127,163,159,0.85) 80%); 
    grid-template-rows: 50px 1fr;
}

.windowHeader{
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr 32px;

}
.windowHeader img{
    display: block;
    justify-self: end;
    height: 32px;
    width: 32px;
}
.windowHeader img:hover{
    background-color: red;
    border-radius: 24px;
}

.windowContent{
    display: grid;
    gap: 5px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.windowContent :nth-child(odd){
    justify-self: start;
}
.windowContent :nth-child(even){
    justify-self: end;
}
.remDisplay{
    font-size: 1.1rem;
    align-self: center;
    border: 1px solid black;
    width: 80%;
    text-align: center;
    height: max-content;
}